@charset "utf-8";


   *, *:after, *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }


@media screen and (min-width:1450px) {

    .sm-logo {display:none;}
    .sm-main-menu {display:none;}
    #sm {display:none;}
    #trigger {display:none;}



    header {
        position:fixed; left:0; top:0;
        width:100%; height:60px; padding:0 50px; z-index:20;
    }
    nav { display:flex; justify-content:space-between; position:relative;}
    .logo, .top-menu { padding: 20px 0;}


    .main-menu a {
        display: block;
        position: relative;
        /* padding: 15px 25px; */
        font-weight: 600; color: #583101;  
        text-decoration: none; text-transform: uppercase;
    }
    .main-menu a:after {
        position: absolute; top: 100%; left: 0;
        width: 100%; height: 1px;
        background:  #941B0C;
        content: '';
        opacity: 0;
        -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    .main-menu a:hover:not(.sub-a):after, .main-menu a:focus:after {
    height: 3px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    }
    .main-menu {
        display:flex;
        font-size:18px;
    }
    .main-menu li a{ padding: 20px 50px; }
    .main-menu li a:hover { color:#941B0C; }

    /*뚝딱거리면 sub-menu 패딩 따로주기
    .sub-menu li a {padding: 20px 0}*/
    .sub-menu-bg {
        display:none; 
        position:fixed; left:0; top:0; 
        width:100%; height:400px;
        background: rgba(250, 244, 234, 0.8);
        border-bottom:1px solid rgba(245, 245, 245, 0.4);
        z-index: -100; 
    }
    .container {}

    .sub-menu { 
        display:none;
        position:absolute; left:50%;
        font-size:18px; 
    }

    .sub-container {
        display:flex;
        width:700px;
        transform:translate(-40%,0);
        font-weight:600; font-size:25px; 
    }
    .sub-container > li > a {
        margin-top:150px; margin-left:60px;
        font-weight:100; border-bottom: thick double #32a1ce;
    }
    .sub-container li > a:hover { color:#32a1ce;}
    #sub-p {
        display:none; 
        position:absolute; left:50%; top:120px;
        transform:translate(-50%,0);
        font-size:25px; font-weight:600;
    }


    .top-menu  { display:flex; }
    .top-menu li a {padding:10px;}
    .top-menu_bar { width:1px; height:14px; background:black; }
    


    /* = = = = = Section = = = = = */

    section { width:1300px; margin:0 auto; }


     /* = = = = = footer = = = = = */
    footer { height:300px; }
    .ft-wrap {
        position:relative;
        display:flex; 
        width:1300px; margin:0 auto; padding:120px 0;
        color:#402b15; justify-content:space-between;
    }

    .ft-wrap > p {
        width:650px; font-size:14px; line-height:21px;
    }
    .sns { display:flex; }
    .sns a {
        padding:0 10px;
        font-size:32px; color:#402b15;
    }
    .sns a:hover { color:#FF4D6D; }
    

}

@media screen and (min-width:1050px) and (max-width:1449px) {

    header {
        position:fixed; left:0; top:0;
        width:100%; height:60px; padding:0  50px; z-index:20;
    }
    nav {
        display:flex; 
        justify-content:space-between; align-items:center; 
    }

    .main-menu {
        display:flex;
        font-size:17px;
    }
    
    .main-menu li a{ padding: 15px 40px; }
    .main-menu li a:hover { color:#941B0C; }
    .main-menu a {
        display: block;
        position: relative;
        padding: 15px 25px;
        font-weight: 600; color: #583101;  
        text-decoration: none; text-transform: uppercase;
    }
    .main-menu a:after {
        position: absolute; top: 100%; left: 0;
        width: 100%; height: 1px;
        background:  #941B0C;
        content: '';
        opacity: 0;
        -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    .main-menu a:hover:after, .main-menu a:focus:after {
    height: 2px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    }

    .sub-menu-bg {display:none;}
    .sub-menu-bg {
        position:fixed; left:0; top:60;
        width:100%; height:400px;
        background: rgba(250, 244, 234, 0.8);
        border-bottom:1px solid rgba(245, 245, 245, 0.4); 
        
    }
    .sub-menu { 
        display:none; 
        position:absolute; left:50%; top:60px; 
        width:100%; 
        font-size:17px;
    }
   
    .top-menu  {
        display:flex;
    }
    .top-menu li a {padding:10px;}
    .top-menu_bar { width:1px; height:14px; background:black; }
    



    /* = = = = = Section = = = = = */

    section { width:940px; margin:0 auto; }


     /* = = = = = footer = = = = = */
    footer { height:300px; }
    .ft-wrap {
        position:relative;
        display:flex; 
        width:800px; margin:0 auto; padding:120px 0;
        color:#402b15; justify-content:space-between;
    }

    .ft-wrap > p {
        width:500px; font-size:12px; line-height:19px;
    }
    .sns { display:flex; }
    .sns a {
        padding:0 8px;
        font-size:26px; color:#402b15;
    }
    .sns a:hover { color:#FF4D6D; }




}

@media screen and (min-width:650px) and (max-width:1049px) {

    header {
        position:fixed; left:0; top:0;
        width:100%; height:60px; padding:0 50px; z-index:20;
    }
    nav {
        display:flex; 
        justify-content:space-between; align-items:center; 
    }

    .main-menu {
        display:flex;
        font-size:15px;
    }
    .main-menu li a{ padding: 10px 15px; }
    .main-menu li a:hover { color:#941B0C; }
    .main-menu a {
        display: block;
        position: relative;
        padding: 15px 25px;
        font-weight: 600; color: #583101;  
        text-decoration: none; text-transform: uppercase;
    }
    .main-menu a:after {
        position: absolute; top: 100%; left: 0;
        width: 100%; height: 1px;
        background:  #941B0C;
        content: '';
        opacity: 0;
        -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    .main-menu a:hover:after, .main-menu a:focus:after {
    height: 2px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    }
    .sub-menu-bg {display:none;}
    .sub-menu-bg {
        position:fixed; left:0; top:60;
        width:100%; height:250px;
        background: rgba(250, 244, 234, 0.8);
        border-bottom:1px solid rgba(245, 245, 245, 0.4); 
        
    }
    .sub-menu { 
        display:none; 
        position:absolute; left:50%; top:60px; 
        width:100%; 
        font-size:15px;
    }
    
    .top-menu  {
        display:flex;
    }
    .top-menu li a {padding:10px;}
    .top-menu_bar { width:1px; height:25px; background:black; }
    



    /* = = = = = Section = = = = = */

    section { width:710px; margin:0 auto; }


     /* = = = = = footer = = = = = */
    footer { height:200px; }
    .ft-wrap {
        position:relative;
        display:flex; 
        width:600px; margin:0 auto; padding:120px 0;
        color:#402b15; justify-content:space-between;
    }

    .ft-wrap > p {
        width:350px; font-size:10px; line-height:19px;
    }
    .sns { display:flex; }
    .sns a {
        padding:0 5px;
        font-size:22px; color:#402b15;
    }
    .sns a:hover { color:#FF4D6D; }
}

@media screen and (max-width:649px) {

    .logo { display:none; }
    #dt {display:none; }
    .ft-wrap { display:none; }
    .main-menu {display:none; }

    .sm-logo { 
        position:absolute; left:50%; top:5px;
        padding-top:20px; 
        transform:translate(-50%,0);
    }
    .sm-logo:hover {color:#941B0C;}


    .sm-main-menu {
        position:fixed; left:-1050px; top:0;
        width:100%; height:100%; padding-top:100px;
        text-align:center;
        background:peru; opacity:0;
    }
  
    .sm-main-menu > li > a {
        padding:30px 0;
        font-size:24px; color:#402b15;
    }
    .sm-main-menu > li > a:hover { background:#402b15; color:#ffd450; }

    .sub-menu { display:none; }
    .sub-menu a {
        padding:25px 0;
        font-size:20px; color:#402b15;
        background:#e4ceaf;
        transition:all 0.4s ease-in;
    }

    .sub-menu a:hover { background:#402b15; color:#ffd450; }
    .sm-sub-a::before {
        content: "↑";
    }
    .sm-sub-a::before {
        content: "↓";
        position: absolute;
        right: 18px; align-items:center;
        line-height: 1em;
        font-size: 24px;
    }

    /*최신*/
    
    /*최신*/
    
    /*최신*/
    
    /* active */
    .sm-main-menu.active { left:0; opacity:1; animation:fade-in 0.4s;}
    
    @keyframes fade-in {
        from { opacity: 0; }
        to { opacity: 1; }
        }

    @keyframes fade-out {
        from {opacity:1;}
        to {opacity:0;}
    }

    .top-menu { 
        display:flex; 
        position:fixed; right:30px; top:10px;
        font-size:22px;
    }
    .top-menu li a:hover {color:#941B0C;}
    .top-menu li a {padding:5px;}


    #trigger {
        position:fixed; left:15px; top:18px;
        width:32px; height:24px; z-index:21;
    }
    #trigger span {
        position:absolute; left:0;
        height:2px;
        background:#402b15;
        transition:all 0.4s ease-out;
    }
    
    #trigger span:nth-child(1) { width:100%; top:0; }
    #trigger span:nth-child(2) { width:70%; top:11px; }
    #trigger span:nth-child(3) { width:70%; bottom:0; }
    #trigger:hover span { width:100%; background: #941B0C;}

    /* active */
    #trigger.active span:nth-child(1) {            
        transform:rotate(-45deg) translate(-4px, 11px);
        background:#402b15;
    }
    #trigger.active span:nth-child(2) { opacity:0; }
    #trigger.active span:nth-child(3) {
        width:100%;
        transform:rotate(45deg) translate(-4px, -11px);
        background:#402b15;
    }

}
    
