@charset "utf-8";


    .bg1 { 
        background:url(/imgs/Library01.jpg) no-repeat center center;
        background-size:cover; background-attachment:fixed;
    }
    .bg2 { 
        background:url(/imgs/Library02.jpg) no-repeat center center;
        background-size:cover; background-attachment:fixed;
    }
    .bg3 { 
        background:url(/imgs/Library03.jpg) no-repeat center center;
        background-size:cover; background-attachment:fixed;
    }
    .bg4 { 
        background:url(/imgs/swiper01.jpg) no-repeat center center;
        background-size:500px;
    }
    .bg5 { 
        background:url(/imgs/swiper02.jpg) no-repeat center center;
        background-size:500px;
    }
    .bg6 { 
        background:url(/imgs/swiper03.jpg) no-repeat center center;
        background-size:500px;
    }
    .bg7 { 
        background:url(/imgs/swiper04.jpg) no-repeat center center;
        background-size:500px;
    }
    .bg8 { 
        background:url(/imgs/swiper05.jpg) no-repeat center center;
        background-size:500px;
    }
    html, body {width:100%; height:100vh;}

    .bg { width:100%; height:100vh; }
    


@media screen and (min-width:1450px) {

    .sm-logo {display:none;}
    .sm-main-menu {display:none;}
    #sm {display:none;}
    #trigger {display:none;}


    header {
        position:fixed; left:0; top:0;
        width:100%; height:60px; padding:0 50px; z-index:20;
    }
    nav { display:flex; justify-content:space-between; position:relative;}
    .logo, .top-menu { padding: 20px 0;}
    .logo:hover {color:rgba(65, 234, 212, 0.8);}

    .main-menu a {
        display: block;
        position: relative;
        /* padding: 15px 25px; */
        font-weight: 600; color:#941B0C; 
        text-decoration: none; text-transform: uppercase;
    }
    .main-menu a:after {
        position: absolute; top: 100%; left: 0;
        width: 100%; height: 1px;
        background:  #41EAD4;
        content: '';
        opacity: 0;
        -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    .main-menu a:hover:not(.sub-a):after, .main-menu a:focus:after {
    height: 3px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    }
    .main-menu {
        display:flex;
        font-size:18px;
    }
    .main-menu li a{ padding: 20px 50px; }
    .main-menu li a:hover { color:rgba(65, 234, 212, 0.8); }

    .sub-menu-bg {
        display:none; 
        position:fixed; left:0; top:0; 
        width:100%; height:400px;
        background: rgba(250, 244, 234, 0.8);
        border-bottom:1px solid rgba(245, 245, 245, 0.4);
        z-index: -100; 
    }

    .sub-menu { 
        display:none;
        position:absolute; left:50%;
        font-size:18px; 
    }

    .sub-container {
        display:flex;
        width:700px;
        transform:translate(-40%,0);
        font-weight:600; font-size:25px; 
    }
    .sub-container > li > a {
        margin-top:150px; margin-left:60px;
        font-weight:100; border-bottom: thick double #32a1ce;
    }
    .sub-container li > a:hover { color:#4F772D;}
    #sub-p {
        display:none; 
        position:absolute; left:50%; top:120px;
        transform:translate(-50%,0);
        font-size:25px; font-weight:600;
    }


    .top-menu  { display:flex; }
    .top-menu li a {padding:0 10px;}
    .top-menu a:hover {color:rgba(65, 234, 212, 0.8);}


    /* = = = = = Section = = = = = */

    section { width:1300px; margin:0 auto; }

    .txt-wrap {
        position:fixed; top:60%;
        background:rgba(250, 244, 234, 0.6);
        font-size:20px; letter-spacing:2px; color:rgba(243, 91, 4, 0.9);
    }
    .txt-wrap > h2, h3, p { padding:15px 30px;}

    .main-container { width:100%; height: 100%; position:relative; overflow:hidden; }
    .main-title {
        background:#583101; color:#fff;
        width:1000px; height:800px;
        position:absolute; left:0px; top:0;
    }
    .main-title > h2 {
        margin:500px 0 0 450px;
        font-size:50px; letter-spacing:5px;
    }
    .main-flexslider {
        position:absolute; left:40%;
    }
   /* = = = = = swiper = = = = = */
    .swiper {
    width: 1500px; height: 600px;
    margin-top:150px;
    position: relative;
    }

    .swiper-wrapper > .swiper-slide {
    height:500px;
    border: 2px solid black;
    background-color: #fff;
    }
    .swiper-slide > h5 { margin:5px 0 0 23px;}
    .swiper-slide > h2 { margin:0 0 0 20px;}
    .swiper-slide > p { margin-top:370px;}
     /* = = = = = footer = = = = = */
    footer { height:300px; }
    .ft-wrap {
        position:relative;
        display:flex; 
        width:1300px; margin:0 auto; padding:120px 0;
        color:#402b15; justify-content:space-between;
    }

    .ft-wrap > p {
        width:650px; font-size:14px; line-height:21px;
    }
    .sns { display:flex; }
    .sns a {
        padding:0 10px;
        font-size:32px; color:#402b15;
    }
    .sns a:hover { color:#FF4D6D; }
    

}

@media screen and (min-width:1050px) and (max-width:1449px) {

    .sm-logo {display:none;}
    .sm-main-menu {display:none;}
    #sm {display:none;}
    #trigger {display:none;}



    header {
        position:fixed; left:0; top:0;
        width:100%; height:60px; padding:0 30px; z-index:20;
    }
    nav { display:flex; justify-content:space-between; position:relative;}
    .logo, .top-menu { padding: 20px 0;}
    .logo:hover {color:rgba(65, 234, 212, 0.8);}

    .main-menu a {
        display: block;
        position: relative;
        font-weight: 600; color:#941B0C; 
        text-decoration: none; text-transform: uppercase;
    }
    .main-menu a:after {
        position: absolute; top: 100%; left: 0;
        width: 100%; height: 1px;
        background:  #41EAD4;
        content: '';
        opacity: 0;
        -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    .main-menu a:hover:not(.sub-a):after, .main-menu a:focus:after {
    height: 3px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    }
    .main-menu {
        display:flex;
        font-size:15px;
    }
    .main-menu li a{ padding: 20px 40px; }
    .main-menu li a:hover { color:rgba(65, 234, 212, 0.8); }

    .sub-menu-bg {
        display:none; 
        position:fixed; left:0; top:0; 
        width:100%; height:300px;
        background: rgba(250, 244, 234, 0.8);
        border-bottom:1px solid rgba(245, 245, 245, 0.4);
        z-index: -100; 
    }

    .sub-menu { 
        display:none;
        position:absolute; left:50%;
        font-size:15px; 
    }

    .sub-container {
        display:flex;
        width:600px;
        transform:translate(-40%,0);
        font-weight:600; font-size:18px; 
    }
    .sub-container > li > a {
        margin-top:120px; margin-left:50px;
        font-weight:100; border-bottom: thick double #32a1ce;
    }
    .sub-container li > a:hover { color:#4F772D;}
    #sub-p {
        display:none; 
        position:absolute; left:50%; top:120px;
        transform:translate(-50%,0);
        font-size:22px; font-weight:600;
    }


    .top-menu  { display:flex; }
    .top-menu li a {padding:0 8px;}
    .top-menu a:hover {color:rgba(65, 234, 212, 0.8);}





    /* = = = = = Section = = = = = */

    section { width:940px; margin:0 auto; }

    .txt-wrap {
        position:fixed; top:60%;
        background:rgba(250, 244, 234, 0.6);
        font-size:16px; letter-spacing:2px; color:rgba(243, 91, 4, 0.9);
    }
    .txt-wrap > h2, h3, p { padding:10px 20px;}
    .main-container { width:100%; height: 100%; position:relative; overflow:hidden; }
    .main-title {
        background:#583101; color:#fff;
        width:60%; height:700px;
        position:absolute; left:0px; top:0;
    }
    .main-title > h2 {
        margin:500px 0 0 200px;
        font-size:35px; letter-spacing:4px;
    }
    .main-flexslider {
        position:absolute; left:40%;
    }

     /* = = = = = swiper = = = = = */
    .swiper {
        width: 1200px; height: 500px;
        margin-top:100px;
    }
        
    .swiper-wrapper > .swiper-slide {
        height:500px;
        border: 2px solid black;
        background-color: #fff;
    }
    .swiper-slide > h5 { margin:5px 0 0 23px;}
    .swiper-slide > h2 { margin:0 0 0 20px;}
    .swiper-slide > p { margin-top:370px;}
        
        
     /* = = = = = footer = = = = = */
    footer { height:300px; }
    .ft-wrap {
        position:relative;
        display:flex; 
        width:900px; margin:0 auto; padding:120px 0;
        color:#402b15; justify-content:space-between;
    }

    .ft-wrap > p {
        width:500px; font-size:12px; line-height:19px;
    }
    .sns { display:flex; }
    .sns a {
        padding:0 8px;
        font-size:26px; color:#402b15;
    }
    .sns a:hover { color:#FF4D6D; }




}

@media screen and (min-width:650px) and (max-width:1049px) {

    .sm-logo {display:none;}
    .sm-main-menu {display:none;}
    #sm {display:none;}
    #trigger {display:none;}



    header {
        position:fixed; left:0; top:0;
        width:100%; height:60px; padding:0 5px; z-index:20;
    }
    nav { display:flex; justify-content:space-between; position:relative;}
    .logo, .top-menu { padding: 15px 0;}
    .logo:hover {color:rgba(65, 234, 212, 0.8);}

    .main-menu a {
        display: block;
        position: relative;
        font-weight: 600; color:#941B0C; 
        text-decoration: none; text-transform: uppercase;
    }
    .main-menu a:after {
        position: absolute; top: 100%; left: 0;
        width: 100%; height: 1px;
        background:  #41EAD4;
        content: '';
        opacity: 0;
        -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    .main-menu a:hover:not(.sub-a):after, .main-menu a:focus:after {
    height: 3px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    }
    .main-menu {
        display:flex;
        font-size:12px;
    }
    .main-menu li a{ padding: 20px 20px; }
    .main-menu li a:hover { color:rgba(65, 234, 212, 0.8); }

    .sub-menu-bg {
        display:none; 
        position:fixed; left:0; top:0; 
        width:100%; height:300px;
        background: rgba(250, 244, 234, 0.8);
        border-bottom:1px solid rgba(245, 245, 245, 0.4);
        z-index: -100; 
    }

    .sub-menu { 
        display:none;
        position:absolute; left:50%;
        font-size:12px; 
    }

    .sub-container {
        display:flex;
        width:500px;
        transform:translate(-40%,0);
        font-weight:600; font-size:15px; 
    }
    .sub-container > li > a {
        margin-top:110px; margin-left:50px;
        font-weight:100; border-bottom: thick double #32a1ce;
    }
    .sub-container li > a:hover { color:#4F772D;}
    #sub-p {
        display:none; 
        position:absolute; left:50%; top:110px;
        transform:translate(-50%,0);
        font-size:18px; font-weight:600;
    }


    .top-menu  { display:flex; }
    .top-menu li a {padding:0 8px;}
    .top-menu a:hover {color:rgba(65, 234, 212, 0.8);}






    /* = = = = = Section = = = = = */

    section { width:710px; margin:0 auto; }


    .txt-wrap {
        position:fixed; top:60%;
        background:rgba(250, 244, 234, 0.6);
        font-size:16px; letter-spacing:2px; color:rgba(243, 91, 4, 0.9);
    }
    .txt-wrap > h2, h3, p { padding:10px 20px;}

    .main-container { width:100%; height: 100%; position:relative; overflow:hidden; }
    .main-title {
        background:#583101; color:#fff;
        width:60%; height:650px;
        position:absolute; left:0px; top:0;
    }
    .main-title > h2 {
        margin:400px 0 0 100px;
        font-size:25px; letter-spacing:4px;
    }
    .main-flexslider {
        position:absolute; left:40%;
    }

     /* = = = = = swiper = = = = = */
    .swiper {
        width: 1100px; height: 500px;
        margin-top:60px;
    }
        
    .swiper-wrapper > .swiper-slide {
        height:500px;
        border: 2px solid black;
        background-color: #fff;
    }
    .swiper-slide > h5 { margin:5px 0 0 23px;}
    .swiper-slide > h2 { margin:0 0 0 20px;}
    .swiper-slide > p { margin-top:370px;}
        
        
     /* = = = = = footer = = = = = */
    footer { height:300px; }
    .ft-wrap {
        position:relative;
        display:flex; 
        width:600px; margin:0 auto; padding:120px 0;
        color:#402b15; justify-content:space-between;
    }

    .ft-wrap > p {
        width:500px; font-size:12px; line-height:19px;
    }
    .sns { display:flex; }
    .sns a {
        padding:0 8px;
        font-size:26px; color:#402b15;
    }
    .sns a:hover { color:#FF4D6D; }

}

@media screen and (max-width:649px) {

    .logo { display:none; }
    #dt {display:none; }
    .ft-wrap { display:none; }
    .main-menu {display:none; }
    


    .sm-logo { 
        position:fixed; left:50%; top:5px;
        padding-top:20px; 
        transform:translate(-50%,0);
        color:#941B0C;
    }
    .sm-logo:hover {color:yellow;}
    
    .flexslider {z-index:-999;}

    .txt-wrap {
        position:fixed; top:60%;
        background:rgba(250, 244, 234, 0.6);
        font-size:12px; letter-spacing:2px; color:rgba(243, 91, 4, 0.9); 
    }
    .txt-wrap > h2, h3, p { padding:10px 20px;}

    .main-container { width:100%; height: 100%; position:relative; overflow:hidden;  }
    .main-title {
        background:#583101; color:#fff;
        width:60%; height:650px;
        position:absolute; left:0px; top:0;
    }
    .main-title > h2 {
        margin:500px 0 0 20px;
        font-size:18px; letter-spacing:4px;
    }
    .main-flexslider {
        position:absolute; left:40%;
    }

     /* = = = = = swiper = = = = = */
    .swiper {
        width:700px; height: 500px;
        margin-top:60px;
    }
        
    .swiper-wrapper > .swiper-slide {
        height:500px;
        border: 2px solid black;
        background-color: #fff;
    }
    .swiper-slide > h5 { margin:5px 0 0 23px;}
    .swiper-slide > h2 { margin:0 0 0 20px;}
    .swiper-slide > p { margin-top:370px;}
    
    @keyframes fade-in {
        from { opacity: 0; }
        to { opacity: 1; }
        }
    @keyframes fade-out {
        from {opacity:1;}
        to {opacity:0;}
    }
    .sm-main-menu {
        position:fixed; left:0px; top:0;
        width:100%; height:100%; padding-top:100px;
        text-align:center;
        background:peru; opacity:0;
        animation:fade-out 0.5s;
    }
    
    /* active */
    .sm-main-menu.active { left:0; opacity:1; animation:fade-in 0.5s; }

    .sm-main-menu > li > a {
        padding:30px 0;
        font-size:24px; color:#402b15;
        
    }
    .sm-main-menu > li > a:hover { background:#402b15; color:#ffd450; }
    .sub-menu { display:none; }
    .sub-menu  a {
        padding:25px 0;
        font-size:20px; color:#402b15;
        background:#e4ceaf;
        transition:all 0.4s ease-in;
    }

    .top-menu { 
        display:flex; 
        position:fixed; right:30px; top:10px;
        font-size:22px;
        z-index:110;
    }
    .top-menu li a:hover {color:#941B0C;}
    .top-menu li a {padding:5px;}


    #trigger {
        position:fixed; left:15px; top:18px;
        width:32px; height:24px; z-index:999;
    }
    #trigger span {
        position:absolute; left:0;
        height:2px;
        background:#402b15;
        transition:all 0.4s ease-out;
    }
    
    #trigger span:nth-child(1) { width:100%; top:0; }
    #trigger span:nth-child(2) { width:100%; top:11px; }
    #trigger span:nth-child(3) { width:100%; bottom:0; }
    #trigger:hover span {background: #941B0C;}

    /* active */
    #trigger.active span:nth-child(1) {            
        transform:rotate(-45deg) translate(-4px, 11px);
        background:#402b15;
    }
    #trigger.active span:nth-child(2) { opacity:0; }
    #trigger.active span:nth-child(3) {
        width:100%;
        transform:rotate(45deg) translate(-4px, -11px);
        background:#402b15;
    }

}
    

