@charset "utf-8";

section { width:1400px; margin:0 auto; }
input, select, button { border:0; outline:0; background:0; }




.rs-container { display:flex; position:absolute; left:50%; transform:translateX(-50%);}

.rs-choose { width:800px; }

#rs-type {
    display:flex; justify-content:center;
    
}

.rs-type {
    margin:25px 50px; padding:5px 15px;
    background:#583101;
    color:#FAF4EA;
    border-radius:5px;
}
.rs-active {
    z-index:999; opacity:1;
}

.c-btn { border:0; outline:0; background:0; cursor:pointer; }
.c-btn i { font-size:33px; color:#41EAD4; }
.c-btn:hover i { color:#FF4D6D; }

.rs-space { position:relative; }
.rs-cafe-space, .rs-room-space, .rs-desk-space {
    position:absolute;
    width:800px; height:500px; 
    background:#FAF4EA;
    border:3px solid #41EAD4;
    border-radius:15px;
    overflow:hidden;
}
.rs-cafe-window, .rs-room-board {
    width:100%; height:25px; line-height:25px;
    background:#41EAD4;
    color:#FAF4EA; text-align:center; 
    text-transform:uppercase;
}
.rs-cafe-desk-A {
    width:80%; height:50px; margin:5px auto 0;
    line-height:50px;
    color:#583101; text-align:center; 
    border:3px solid #583101;
    border-radius:5px;
}
.rs-cafe-chair-A > button { padding:0 10px; }


.rs-cafe-toilet {
    position:absolute; right:10px; top:140px;
    font-size:40px;
}

.rs-cafe-desk-B {
    position:absolute; left:100px; top:200px;
    width:80px; height:200px; padding-top:80px;
    text-align:center;
    border:3px solid #583101;
    border-radius:5px;
}


.rs-cafe-chair-B {
    width:300px; height:200px; 
    margin-left:-113px; margin-top:-110px; 
}
.rs-cafe-chair-B > button { padding:10px 50px; }

.rs-cafe-tree {
    position:absolute; left:310px; top:230px;
    font-size:90px;
}


.rs-cafe-desk-C {
    position:absolute; right:70px; bottom:150px;
    width:200px; height:80px; padding-top:25px;
    text-align:center;
    border:3px solid #583101;
    border-radius:5px;
}
.rs-cafe-chair-C {
    width:200px; height:80px; margin-top:-138px; line-height:130px;
}
.rs-cafe-chair-C > button { padding:15px; }

.rs-cafe-door {
    position:absolute; right:300px; bottom:0;
    font-size:40px;
}




.rs-room-rms { display:flex; }

.rs-room-rm1 { 
    width:300px; height:300px; 
    border:3px solid #41EAD4; border-top:0; border-left:0; 
}
.rs-room-desk-1 {
    width:40%; height:200px; margin:30px auto;
    line-height:200px;
    color:#583101; text-align:center; 
    border:3px solid #583101;
    border-radius:5px;
}
.rs-room-chair-1 {
    position:absolute; left:-23px; top:55px;
    width:400px; height:200px;
}
.rs-room-chair-1 > button { padding:15px 70px;}






.rs-room-rm2 { 
    width:200px; height:200px; 
    border-bottom:3px solid #41EAD4;
}




.rs-room-rm3 { 
    width:300px; height:300px; 
    border:3px solid #41EAD4; 
    border-top:0; border-right:0;
}




/* .rs-cafe-space { z-index:1; } */
.rs-room-space { opacity:1; }
.rs-desk-space { opacity:0; }







.rs-regi {
    display:none;
    width:300px; height:500px; margin-top:84px; margin-left:-2px;
    background:#FAF4EA;
    border:3px solid #41EAD4;
    border-radius:15px;
}
.rs-regi > h3 { margin-top:20px; text-align:center; }
.rs-regi > h4 { margin:10px 0 20px; text-align:center; }

#rs-regicard { margin-left:30px;}

#rs-regicard > li > input {
    width:90%; margin:10px 0; padding:2px;
    text-align:center; 
    border-bottom:2px solid #583101;
}
#rs-regicard li:nth-child(5) { 
    width:90%; margin:10px 0; padding:2px;
    text-align:center;
    border-bottom:2px solid #583101; 
}
#rs-regicard li:nth-child(6) { 
    width:90%; margin:10px 0; padding:2px;
}
#rs-regicard li:nth-child(6) > input { 
    width:20%; margin:10px 0; padding:2px;
    border-bottom:2px solid #583101; 
}

#rs-regicard li:last-child { 
    width:100%; margin:10px 0; padding:2px;
}
#rs-regicard li:last-child > input { width:45%; margin-left:5px; border-bottom:2px solid #583101; }

#rs-submit {
    display:flex; justify-content:space-around;
}


/* 
@media screen and (min-width:1450px) {

}

@media screen and (min-width:1050px) and (max-width:1449px) {

}

@media screen and (min-width:1050px) and (max-width:650px) {

}

@media screen and (max-width:649px) {

} */
