@charset "utf-8";

@media screen and (min-width:1450px) {
    .rs-container { 
        display:flex; justify-content:center;
        position:absolute; left:50%;
        transform:translate(-50%);
    }
    
    .rs-choose { width:800px; }
    
    #rs-type {
        display:flex; justify-content:center;
    }
    
    .rs-type {
        margin:25px 50px; padding:5px 15px;
        background:#583101;
        color:#FAF4EA;
        border-radius:5px;
    }
    .rs-active { z-index:9; opacity:1; }
    .rs-cafe-space { z-index:8; }
    
    .c-btn { border:0; outline:0; background:0; cursor:pointer; }
    .c-btn i { font-size:33px; color:#41EAD4; }
    .c-btn:hover i { color:#FF4D6D; }
    
    .rs-space { position:relative; }
    .rs-cafe-space, .rs-room-space, .rs-desk-space {
        position:absolute;
        width:800px; height:500px; 
        background:#FAF4EA;
        border:3px solid #41EAD4;
        border-radius:15px;
        overflow:hidden;
    }
    .rs-door {
        position:absolute; right:300px; bottom:0;
        font-size:40px;
    }
    
    
    
    /* A타입 카페형 좌석 */
    
    .rs-cafe-window {
        width:100%; height:25px; line-height:25px;
        background:#41EAD4;
        color:#FAF4EA; text-align:center; 
        text-transform:uppercase;
    }
    .rs-cafe-desk-A {
        width:80%; height:50px; margin:5px auto 0;
        line-height:50px;
        color:#583101; text-align:center; 
        border:3px solid #583101;
        border-radius:5px;
    }
    .rs-cafe-chair-A > button { padding:0 10px; }
    .rs-cafe-toilet {
        position:absolute; right:10px; top:140px;
        font-size:40px;
    }
    .rs-cafe-desk-B {
        position:absolute; left:100px; top:200px;
        width:80px; height:200px; padding-top:80px;
        text-align:center;
        border:3px solid #583101;
        border-radius:5px;
    }
    .rs-cafe-chair-B {
        width:300px; height:200px; 
        margin-left:-113px; margin-top:-110px; 
    }
    .rs-cafe-chair-B > button { padding:10px 50px; }
    .rs-cafe-tree {
        position:absolute; left:310px; top:230px;
        font-size:90px;
    }
    .rs-cafe-desk-C {
        position:absolute; right:70px; bottom:150px;
        width:200px; height:80px; padding-top:25px;
        text-align:center;
        border:3px solid #583101;
        border-radius:5px;
    }
    .rs-cafe-chair-C {
        width:200px; height:80px; margin-top:-138px; line-height:130px;
    }
    .rs-cafe-chair-C > button { padding:15px; }
    
    
    
    /* B타입 회의실형 좌석 */
    
    .rs-room-rms { display:flex; }
    .rs-room { 
        width:202px; height:250px; padding:40px;
        text-align:center;
        border:3px solid #583101;
    }
    .rs-room > p { margin:10px 0; }
    .rs-room > .c-btn > i { margin-top:15px; font-size:60px; }
    .rs-room-2, .rs-room-3, .rs-room-4 { margin-left:-3px; }
    .rs-room-4 { height:494px; padding-top:150px; }
    
    .rs-room-5 { 
        display:flex; justify-content:space-around;
        width:350px; height:150px; margin-top:-150px; padding:45px 60px;
    }
    .rs-room-5-txt > p { margin-bottom:5px; }
    .rs-room-5 > .c-btn > i { margin:0; }
    
    
    
    
    /* C타입 독서실형 좌석 */
    
    .rs-desk-A { display:flex; justify-content:center; }
    .rs-desk-set { width:100px; margin:0 10px; }
    .rs-desk-desk {
        width:100px; height:50px; 
        text-align:center; line-height:40px;
        border:3px solid #583101;
        border-radius:5px;
    }
    .rs-desk-wall { width:10px; height:100px; background:#41EAD4; }
    .rs-desk-set > .c-btn { width:100px; margin-top:5px; }
    .rs-desk-set > .c-btn > i { font-size:40px; }
    .rs-desk-wall-h { display:flex; }
    .rs-desk-wall-h1 { width:390px; height:10px; background:#41EAD4; margin-top:60px; }
    .rs-desk-wall-h2 { width:264px; height:10px; background:#41EAD4; margin:60px 0 0 140px; }
    
    .rs-desk-B { display:flex; }
    .rs-desk-wall-r { margin-left:140px; }
    
    
    
    
    /* registration form */
    .rs-switch { display:none; }
    
    .rs-regi {
        width:300px; height:500px; margin-top:84px; margin-left:-2px;
        background:#FAF4EA;
        border:3px solid #41EAD4;
        border-radius:15px;
    }
    .rs-regi > h3 { margin-top:20px; text-align:center; }
    .rs-regi > h4 { margin:10px 0 20px; text-align:center; }
    
    #rs-regicard { margin-left:30px; }
    
    #rs-regicard > li > input {
        width:90%; margin:10px 0; padding:2px;
        text-align:center; 
        border-bottom:2px solid #583101;
    }
    #rs-regicard li:nth-child(5) { 
        width:90%; margin:10px 0; padding:2px;
        text-align:center;
        border-bottom:2px solid #583101; 
    }
    #rs-regicard li:nth-child(6) { 
        width:90%; margin:10px 0; padding:2px;
    }
    #rs-regicard li:nth-child(6) > input { 
        width:20%; margin:10px 0; padding:2px;
        border-bottom:2px solid #583101; 
    }
    
    #rs-regicard li:last-child { 
        width:100%; margin:10px 0; padding:2px;
    }
    #rs-regicard li:last-child > input { 
        width:45%; margin-left:5px; border-bottom:2px solid #583101; 
    }
    
    #rs-submit {
        display:flex; justify-content:space-around;
    }
}

@media screen and (min-width:1050px) and (max-width:1449px) {
    .rs-container { 
        display:flex; justify-content:center;
        position:absolute; left:50%;
        transform:translate(-50%);
    }
    
    .rs-choose { width:680px; }
    
    #rs-type {
        display:flex; justify-content:center;
    }
    
    .rs-type {
        margin:25px 50px; padding:5px 15px;
        background:#583101;
        color:#FAF4EA;
        border-radius:5px;
    }
    .rs-active { z-index:9; opacity:1; }
    .rs-cafe-space { z-index:8; }
    
    .c-btn { border:0; outline:0; background:0; cursor:pointer; }
    .c-btn i { font-size:26px; color:#41EAD4; }
    .c-btn:hover i { color:#FF4D6D; }
    
    .rs-space { position:relative; }
    .rs-cafe-space, .rs-room-space, .rs-desk-space {
        position:absolute;
        width:680px; height:500px; 
        background:#FAF4EA;
        border:3px solid #41EAD4;
        border-radius:15px;
        overflow:hidden;
    }
    .rs-door {
        position:absolute; right:260px; bottom:0;
        font-size:30px;
    }
    
    
    
    /* A타입 카페형 좌석 */
    
    .rs-cafe-window {
        width:100%; height:25px; line-height:25px;
        background:#41EAD4;
        color:#FAF4EA; text-align:center; 
        text-transform:uppercase;
    }
    .rs-cafe-desk-A {
        width:80%; height:50px; margin:5px auto 0;
        line-height:50px;
        color:#583101; text-align:center; 
        border:3px solid #583101;
        border-radius:5px;
    }
    .rs-cafe-chair-A > button { padding:0 8px; }
    .rs-cafe-toilet {
        position:absolute; right:10px; top:150px;
        font-size:30px;
    }
    .rs-cafe-desk-B {
        position:absolute; left:100px; top:200px;
        width:80px; height:200px; padding-top:80px;
        text-align:center;
        border:3px solid #583101;
        border-radius:5px;
    }
    .rs-cafe-chair-B {
        width:300px; height:200px; 
        margin-left:-113px; margin-top:-90px; 
    }
    .rs-cafe-chair-B > button { padding:10px 50px; }
    .rs-cafe-tree {
        position:absolute; left:270px; top:230px;
        font-size:80px;
    }
    .rs-cafe-desk-C {
        position:absolute; right:70px; bottom:150px;
        width:200px; height:80px; padding-top:25px;
        text-align:center;
        border:3px solid #583101;
        border-radius:5px;
    }
    .rs-cafe-chair-C {
        width:200px; height:80px; margin-top:-138px; line-height:130px;
    }
    .rs-cafe-chair-C > button { padding:15px; }
    
    
    
    /* B타입 회의실형 좌석 */
    
    .rs-room-rms { display:flex; }
    .rs-room { 
        width:202px; height:250px; padding:40px;
        text-align:center;
        border:3px solid #583101;
    }
    .rs-room > p { margin:10px 0; }
    .rs-room > .c-btn > i { margin-top:15px; font-size:60px; }
    .rs-room-2, .rs-room-3, .rs-room-4 { margin-left:-3px; }
    .rs-room-4 { height:494px; padding-top:150px; }
    
    .rs-room-5 { 
        display:flex; justify-content:space-around;
        width:320px; height:150px; margin-top:-150px; padding:45px 60px;
    }
    .rs-room-5-txt > p { margin-bottom:5px; }
    .rs-room-5 > .c-btn > i { margin:0; }
    
    
    
    
    /* C타입 독서실형 좌석 */
    
    .rs-desk-A { display:flex; justify-content:center; }
    .rs-desk-set { width:80px; margin:0 8px; }
    .rs-desk-desk {
        width:80px; height:50px; 
        text-align:center; line-height:40px;
        border:3px solid #583101;
        border-radius:5px;
    }
    .rs-desk-wall { width:10px; height:100px; background:#41EAD4; }
    .rs-desk-set > .c-btn { width:80px; margin-top:5px; }
    .rs-desk-set > .c-btn > i { font-size:36px; }
    .rs-desk-wall-h { display:flex; }
    .rs-desk-wall-h1 { width:390px; height:10px; background:#41EAD4; margin-top:60px; }
    .rs-desk-wall-h2 { width:264px; height:10px; background:#41EAD4; margin:60px 0 0 140px; }
    
    .rs-desk-B { display:flex; }
    .rs-desk-wall-r { margin-left:140px; }
    
    
    
    
    /* registration form */
    .rs-switch { display:none; }
    
    .rs-regi {
        width:260px; height:500px; margin-top:84px; margin-left:-2px;
        background:#FAF4EA;
        border:3px solid #41EAD4;
        border-radius:15px;
        font-size:12px;
    }
    .rs-regi > h3 { font-size:20px; margin-top:20px; text-align:center; }
    .rs-regi > h4 { font-size:16px; margin:10px 0 20px; text-align:center; }
    
    #rs-regicard { margin-left:30px; }
    
    #rs-regicard > li > input {
        width:90%; margin:10px 0; padding:2px;
        text-align:center; 
        border-bottom:2px solid #583101;
    }
    #rs-regicard li:nth-child(5) { 
        width:90%; margin:10px 0; padding:2px;
        text-align:center;
        border-bottom:2px solid #583101; 
    }
    #rs-regicard li:nth-child(6) { 
        width:90%; margin:10px 0; padding:2px;
    }
    #rs-regicard li:nth-child(6) > input { 
        width:20%; margin:10px 0; padding:2px;
        border-bottom:2px solid #583101; 
    }
    
    #rs-regicard li:last-child { 
        width:100%; margin:10px 0; padding:2px;
    }
    #rs-regicard li:last-child > input { 
        width:45%; margin-left:5px; border-bottom:2px solid #583101; 
    }
    
    #rs-submit {
        display:flex; justify-content:space-around;
    }
}

@media screen and (min-width:650px) and (max-width:1049px) {
    .rs-container { 
        position:absolute; left:50%;
        transform:translate(-50%);
    }
    
    .rs-choose { width:600px; }
    
    #rs-type {
        display:flex; justify-content:center;
    }
    
    .rs-type {
        margin:25px 50px; padding:5px 15px;
        background:#583101;
        color:#FAF4EA;
        border-radius:5px;
    }
    .rs-active { z-index:9; opacity:1; }
    .rs-cafe-space { z-index:8; }
    
    .c-btn { border:0; outline:0; background:0; cursor:pointer; }
    .c-btn i { font-size:24px; color:#41EAD4; }
    .c-btn:hover i { color:#FF4D6D; }
    
    .rs-space { position:relative; }
    .rs-cafe-space, .rs-room-space, .rs-desk-space {
        position:absolute;
        width:600px; height:500px; 
        background:#FAF4EA;
        border:3px solid #41EAD4;
        border-radius:15px;
        overflow:hidden;
    }
    .rs-door {
        position:absolute; right:240px; bottom:0;
        font-size:30px;
    }
    
    
    
    /* A타입 카페형 좌석 */
    
    .rs-cafe-window {
        width:100%; height:25px; line-height:25px;
        background:#41EAD4;
        color:#FAF4EA; text-align:center; 
        text-transform:uppercase;
    }
    .rs-cafe-desk-A {
        width:80%; height:50px; margin:5px auto 0;
        line-height:50px;
        color:#583101; text-align:center; 
        border:3px solid #583101;
        border-radius:5px;
    }
    .rs-cafe-chair-A > button { padding:0 7px; }
    .rs-cafe-toilet {
        position:absolute; right:10px; top:150px;
        font-size:30px;
    }
    .rs-cafe-desk-B {
        position:absolute; left:80px; top:200px;
        width:80px; height:200px; padding-top:80px;
        text-align:center;
        border:3px solid #583101;
        border-radius:5px;
    }
    .rs-cafe-chair-B {
        width:300px; height:200px; 
        margin-left:-113px; margin-top:-90px; 
    }
    .rs-cafe-chair-B > button { padding:10px 50px; }
    .rs-cafe-tree {
        position:absolute; left:250px; top:250px;
        font-size:60px;
    }
    .rs-cafe-desk-C {
        position:absolute; right:40px; bottom:150px;
        width:200px; height:80px; padding-top:25px;
        text-align:center;
        border:3px solid #583101;
        border-radius:5px;
    }
    .rs-cafe-chair-C {
        width:200px; height:80px; margin-top:-138px; line-height:130px;
    }
    .rs-cafe-chair-C > button { padding:15px; }
    
    
    
    /* B타입 회의실형 좌석 */
    
    .rs-room-rms { display:flex; }
    .rs-room { 
        width:151px; height:250px; padding:40px 30px;
        text-align:center;
        border:3px solid #583101;
    }
    .rs-room > p { margin:10px 0; }
    .rs-room > .c-btn > i { margin-top:15px; font-size:50px; }
    .rs-room-2, .rs-room-3, .rs-room-4 { margin-left:-3px; }
    .rs-room-4 { height:494px; padding-top:150px; }
    
    .rs-room-5 { 
        display:flex; justify-content:space-around;
        width:250px; height:150px; margin-top:-150px; padding:50px 30px;
    }
    .rs-room-5-txt > p { margin-bottom:5px; }
    .rs-room-5 > .c-btn > i { margin:0; }
    
    
    
    
    /* C타입 독서실형 좌석 */
    
    .rs-desk-A { display:flex; justify-content:center; }
    .rs-desk-set { width:70px; margin:0 5px; }
    .rs-desk-desk {
        width:70px; height:50px; 
        text-align:center; line-height:40px;
        border:3px solid #583101;
        border-radius:5px;
    }
    .rs-desk-wall { width:10px; height:100px; background:#41EAD4; }
    .rs-desk-set > .c-btn { width:70px; margin-top:5px; }
    .rs-desk-set > .c-btn > i { font-size:34px; }
    .rs-desk-wall-h { display:flex; }
    .rs-desk-wall-h1 { width:390px; height:10px; background:#41EAD4; margin-top:60px; }
    .rs-desk-wall-h2 { width:264px; height:10px; background:#41EAD4; margin:60px 0 0 140px; }
    
    .rs-desk-B { display:flex; }
    .rs-desk-wall-r { margin-left:140px; }
    
    
    
    
    /* registration form */
    .rs-switch { display:none; }
    
    .rs-regi {
        position:absolute; left:50%; top:497px;
        transform:translate(-50%);
        width:600px; height:500px; margin-top:84px; margin-left:-2px;
        background:#FAF4EA;
        border:3px solid #41EAD4;
        border-radius:15px;
        font-size:16px;
    }
    .rs-regi > h3 { font-size:20px; margin-top:20px; text-align:center; }
    .rs-regi > h4 { font-size:16px; margin:10px 0 20px; text-align:center; }
    
    #rs-regicard { margin-left:30px; }
    
    #rs-regicard > li > input {
        width:90%; margin:10px 0; padding:2px;
        text-align:center; 
        border-bottom:2px solid #583101;
    }
    #rs-regicard li:nth-child(5) { 
        width:90%; margin:10px 0; padding:2px;
        text-align:center;
        border-bottom:2px solid #583101; 
    }
    #rs-regicard li:nth-child(6) { 
        width:90%; margin:10px 0; padding:2px;
    }
    #rs-regicard li:nth-child(6) > input { 
        width:27%; margin:10px 0; padding:2px;
        border-bottom:2px solid #583101; 
    }
    
    #rs-regicard li:last-child { 
        width:100%; margin:10px 0; padding:2px;
    }
    #rs-regicard li:last-child > input { 
        width:70%; margin-left:5px; border-bottom:2px solid #583101; 
    }
    
    #rs-submit {
        display:flex; justify-content:space-around;
    }
}

@media screen and (max-width:649px) {
    .rs-container { 
        position:absolute; left:50%;
        transform:translate(-50%);
    }
    
    .rs-choose { width:380px; }
    
    #rs-type {
        display:flex; justify-content:center;
    }
    
    .rs-type {
        margin:25px; padding:5px 15px;
        background:#583101;
        color:#FAF4EA;
        border-radius:5px;
    }
    .rs-active { z-index:9; opacity:1; }
    .rs-cafe-space { z-index:8; }
    
    .c-btn { border:0; outline:0; background:0; cursor:pointer; }
    .c-btn i { font-size:16px; color:#41EAD4; }
    .c-btn:hover i { color:#FF4D6D; }
    
    .rs-space { position:relative; }
    .rs-cafe-space, .rs-room-space, .rs-desk-space {
        position:absolute;
        width:380px; height:400px; 
        background:#FAF4EA;
        border:3px solid #41EAD4;
        border-radius:15px;
        overflow:hidden;
    }
    .rs-door {
        position:absolute; right:140px; bottom:0;
        font-size:20px;
    }
    
    
    
    /* A타입 카페형 좌석 */
    
    .rs-cafe-window {
        width:100%; height:14px; line-height:14px;
        background:#41EAD4;
        color:#FAF4EA; text-align:center; 
        text-transform:uppercase;
        font-size:12px;
    }
    .rs-cafe-desk-A {
        width:80%; height:30px; margin:5px auto 0;
        line-height:25px;
        color:#583101; text-align:center; 
        border:3px solid #583101;
        border-radius:5px;
    }
    .rs-cafe-chair-A > button { padding:0 3px; }
    .rs-cafe-toilet {
        position:absolute; right:10px; top:80px;
        font-size:20px;
    }
    .rs-cafe-desk-B {
        position:absolute; left:40px; top:130px;
        width:50px; height:180px; padding-top:60px;
        text-align:center;
        border:3px solid #583101;
        border-radius:5px;
    }
    .rs-cafe-chair-B {
        width:240px; height:150px; 
        margin-left:-100px; margin-top:-95px; 
    }
    .rs-cafe-chair-B > button { padding:10px 34px; }
    .rs-cafe-tree {
        position:absolute; left:150px; top:200px;
        font-size:40px;
    }
    .rs-cafe-desk-C {
        position:absolute; right:10px; bottom:150px; 
        width:150px; height:50px; padding-top:10px;
        text-align:center;
        border:3px solid #583101;
        border-radius:5px;
    }
    .rs-cafe-chair-C {
        width:150px; height:50px; margin-top:-95px; line-height:80px;
    }
    .rs-cafe-chair-C > button { padding:15px; }
    
    
    
    /* B타입 회의실형 좌석 */
    
    .rs-room-rms { display:flex; }
    .rs-room { 
        width:100px; height:200px; padding:40px 0;
        text-align:center;
        border:3px solid #583101;
    }
    .rs-room > p { margin:10px 0; font-size:14px; }
    .rs-room > .c-btn > i { margin-top:15px; font-size:34px; }
    .rs-room-2, .rs-room-3, .rs-room-4 { margin-left:-3px; }
    .rs-room-4 { height:394px; padding-top:130px; }
    
    .rs-room-5 { 
        display:flex; justify-content:space-around;
        width:180px; height:130px; margin-top:-130px; padding:30px 5px;
    }
    .rs-room-5-txt > p { margin-bottom:5px; }
    .rs-room-5 > .c-btn > i { margin:0; }
    
    
    
    
    /* C타입 독서실형 좌석 */
    
    .rs-desk-A { display:flex; justify-content:center; }
    .rs-desk-set { width:50px; margin:0 4px; }
    .rs-desk-desk {
        width:50px; height:40px; 
        text-align:center; line-height:35px;
        border:3px solid #583101;
        border-radius:5px;
    }
    .rs-desk-wall { width:5px; height:70px; background:#41EAD4; }
    .rs-desk-set > .c-btn { width:50px; margin-top:5px; }
    .rs-desk-set > .c-btn > i { font-size:28px; }
    .rs-desk-wall-h { display:flex; }
    .rs-desk-wall-h1 { width:390px; height:5px; background:#41EAD4; margin-top:60px; }
    .rs-desk-wall-h2 { width:264px; height:5px; background:#41EAD4; margin:60px 0 0 59px; }
    
    .rs-desk-B { display:flex; }
    .rs-desk-wall-r { margin-left:60px; }
    
    
    
    
    /* registration form */
    .rs-switch { display:none; }
    
    .rs-regi {
        position:absolute; left:50%; top:397px;
        transform:translate(-50%);
        width:380px; height:500px; margin-top:84px; margin-left:-2px;
        background:#FAF4EA;
        border:3px solid #41EAD4;
        border-radius:15px;
        font-size:14px;
    }
    .rs-regi > h3 { font-size:20px; margin-top:20px; text-align:center; }
    .rs-regi > h4 { font-size:16px; margin:10px 0 20px; text-align:center; }
    
    #rs-regicard { margin-left:30px; }
    
    #rs-regicard > li > input {
        width:90%; margin:10px 0; padding:2px;
        text-align:center; 
        border-bottom:2px solid #583101;
    }
    #rs-regicard li:nth-child(5) { 
        width:90%; margin:10px 0; padding:2px;
        text-align:center;
        border-bottom:2px solid #583101; 
    }
    #rs-regicard li:nth-child(6) { 
        width:90%; margin:10px 0; padding:2px;
    }
    #rs-regicard li:nth-child(6) > input { 
        width:24%; margin:10px 0; padding:2px;
        border-bottom:2px solid #583101; 
    }
    
    #rs-regicard li:last-child { 
        width:100%; margin:10px 0; padding:2px;
    }
    #rs-regicard li:last-child > input { 
        width:60%; margin-left:5px; border-bottom:2px solid #583101; 
    }
    
    #rs-submit {
        display:flex; justify-content:space-around;
    }
}
